<div class="container-fluid ps-1 pe-5 d-flex flex-column pb-5">
    <div class="d-flex justify-content-between align-items-end">
        <h1 class="ms-5">
            What Makes Us More <br />
            <b class="fw-bold">Special</b>
            <hr class="mt-0 pt-0 hr-title" />
        </h1>
        <span class="text-black fw-bold pb-5 me-5 title-2">KEY <span class="text-warning">FEATURE</span></span>
    </div>
</div>

<div class="container-fluid text-center px-5 pt-5">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12 border-end py-2 pt-0 pb-5 ps-0 columns-inf">
            <div class="info-service">
                <img src="img/01.png" alt="" class="m-auto img-fluid" />
                <h3 class="m-0 fw-semibold">Laser Technology</h3>
                <p class="fs-6 text-secondary px-4">
                    Worlds most advanced Diode Laser. <br />
                    Your treatment experience will be <br />
                    relaxing & smooth.
                </p>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 border-end py-2 pt-0 pb-5 columns-inf">
            <div class="info-service">
                <img src="img/02.png" alt="" class="m-auto img-fluid" />
                <h3 class="m-0 fw-semibold">Painless Injection</h3>
                <p class="fs-6 text-secondary px-4">
                    Only dental clinic in New York, USA <br />
                    utilizing Painless Injection system. You <br />
                    will be amazed!
                </p>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 py-2 pt-0 pe-0 pb-5 columns-inf">
            <div class="info-service">
                <img src="img/03.png" alt="" class="m-auto img-fluid" />
                <h3 class="m-0 fw-semibold">Dental Implant</h3>
                <p class="fs-6 text-secondary px-4">
                    30+ years of experience in Dental Implant <br />
                    with specialist care. You will be able to <br />
                    chew properly again!
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12 border-end border-top pt-5 ps-0 columns-inf">
            <div class="info-service">
                <img src="img/04.png" alt="" class="m-auto img-fluid" />
                <h3 class="m-0 fw-semibold">3D Dental Scanner</h3>
                <p class="fs-6 text-secondary px-4">
                    One of the world’s most advanced 3D <br />
                    Dental Scanner with auto scanning only <br />
                    one in New York!
                </p>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 border-end border-top pt-5 columns-inf">
            <div class="info-service">
                <img src="img/05.png" alt="" class="m-auto img-fluid" />
                <h3 class="m-0 fw-semibold">Digital Smile Design</h3>
                <p class="fs-6 text-secondary px-4">
                    We help to re-design your smile and <br />
                    shape your teeth to create a customized <br />
                    smile for your face!
                </p>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 border-top pt-5 pe-0 columns-inf">
            <div class="info-service">
                <img src="img/06.png" alt="" class="m-auto img-fluid" />
                <h3 class="m-0 fw-semibold">Crown and Bridge</h3>
                <p class="fs-6 text-secondary px-4">
                    Transform you blackish gum to pinkish <br />
                    colour with painless, single appointment <br />
                    Laser Gum Treatment
                </p>
            </div>
        </div>
    </div>
    <br />
</div>