.info-service {
  font-size: 60px;
  background-color: #F8FAFC;
  border-radius: 15px;
  width: 80%;
  height: 100%;
  padding-top: 20px;
  box-sizing: border-box;
  display: grid;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.hr-title {
  border: 1px solid black;
  width: 400%;
  margin-left: 200px;
}

#key-feature {
  font-size: 50px;
}

.title-2 {
  font-size: 50px;
}



@media screen and (max-width: 600px) {

  .border-end,
  .border-top {
    border: none !important;
  }

  .hr-title {
    display: none;
  }

  #key-feature {
    font-size: 20px;
    display: flex;

  }

  .title-2 {
    font-size: 20px;
    border-left: 1px solid black;
    margin: 0px;
    padding-left: 10px;
  }

}