<div class="min-h-full m-0">
  <header class="items-center content-center m-auto">
      <div class="row">
          <div class="col"></div>
      </div>
      
    <ul class="nav justify-content-end m-5">
      <img src="img/logo.svg"  alt="" class="me-5">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Active</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" aria-disabled="true">Disabled</a>
      </li>
    </ul>
    
  </header>
  <hr
    style="
      width: 95%;
      display: flex;
      align-items: center;
      align-content: center;
      margin: auto;
    "
  />

  <section id="home" class="container-fluid">
    <div class="row">
      <!-- Contenedor derecho -->
      <div class="col-md-6 col-12 mt-5 pt-5">
        <div>
          <h1 class="fw-bolder ms-5 ps-4 text-home-h1">We Provide High</h1>
          <h1 class="fw-bold ms-5 ps-4 text-home-h1">
            Quality <b style="color: #fad461">Dental</b> Services
          </h1>
          <p class="mt-5 fs-4 mb-5 ms-5 ps-4 text-secondary">
            Appropriately embrace transparent material via<br />
            turnkey niche markets.
          </p>
  
          <div class="mt-5 ps-4">
            <button id="btn-1" class="fw-semibold ms-5 ps-4">Get Started</button
            >&nbsp;&nbsp;&nbsp;&nbsp;
            <button id="btn-2" class="fw-semibold ms-5 ps-4">Learn More</button>
          </div>
        </div>
      </div>
      <!-- Contenedor izquierdo (imagen) -->
      <div class="col-md-6 col-12 mt-5 mb-5 pe-0 d-flex justify-content-center align-items-center">
        <img src="img/Illustration.png" id="img-1" class="img-fluid ms-4" alt="Dental Services">
      </div>
    </div>
  </section>
</div>

<router-outlet />
