<div class="min-w-full mt-5">
    <div class="p-3 mt-5" style="background-color: #5c5cff">
        <div class="row">
            <div class="col-md-6 col-12 mt-5">
                <div>
                    <div class="ms-5">
                        <h1 class="fw-semibolder text-white" style="font-size: 45px">
                            How to get our service?
                        </h1>
                        <p class="mt-3 fs-5 mb-5 text-white">
                            Just follow these simples steps
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-12 mt-4">
                <div>
                    <div>
                        <div class="row">
                            <div class="col align-content-center align-items-center text-center m-1">
                                <div style="
                    background-color: rgb(255, 255, 255);
                    border-radius: 10px;
                    padding: 4px;
                    width: 200px;
                  " class="py-4 m-auto">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960"
                                        width="48px" fill="#666666">
                                        <path
                                            d="M795-120q-116 0-236.5-56T335-335Q232-438 176-558.5T120-795q0-19.29 12.86-32.14Q145.71-840 165-840h140q14 0 24 10t14 25l26.93 125.64Q372-665 369.5-653.5t-10.73 19.73L259-533q26 44 55 82t64 72q37 38 78 69.5t86 55.5l95-98q10-11 23.15-15 13.15-4 25.85-2l119 26q15 4 25 16.04 10 12.05 10 26.96v135q0 19.29-12.86 32.14Q814.29-120 795-120ZM229-588l81-82-23-110H180q2 42 13.5 88.5T229-588Zm369 363q41 19 89 31t93 14v-107l-103-21-79 83ZM229-588Zm369 363Z" />
                                    </svg>
                                    <h6>
                                        call for <br />
                                        appointment
                                    </h6>
                                </div>
                            </div>
                            <div class="col bs-body-color align-content-center align-items-center text-center m-1">
                                <div style="
                    background-color: rgb(255, 255, 255);
                    border-radius: 10px;
                    padding: 4px;
                    width: 200px;"
                    class="py-4 m-auto">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960"
                                        width="48px" fill="#666666">
                                        <path
                                            d="M700-80v-120H580v-60h120v-120h60v120h120v60H760v120h-60Zm-520-80q-24 0-42-18t-18-42v-540q0-24 18-42t42-18h65v-60h65v60h260v-60h65v60h65q24 0 42 18t18 42v302q-15-2-30-2t-30 2v-112H180v350h320q0 15 3 30t8 30H180Zm0-470h520v-130H180v130Zm0 0v-130 130Z" />
                                    </svg>
                                    <h6>
                                        call for <br />
                                        appointment
                                    </h6>
                                </div>
                            </div>
                            <div class="col bs-body-color align-content-center align-items-center text-center m-1">
                                <div style="
                    background-color: rgb(255, 255, 255);
                    border-radius: 10px;
                    padding: 4px;
                    width: 200px;
                  " class="py-4 m-auto">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960"
                                        width="48px" fill="#666666">
                                        <path
                                            d="M433-228 295-365l42-42 96 94 184-184 42 43-226 226ZM180-80q-24 0-42-18t-18-42v-620q0-24 18-42t42-18h65v-60h65v60h340v-60h65v60h65q24 0 42 18t18 42v620q0 24-18 42t-42 18H180Zm0-60h600v-430H180v430Zm0-490h600v-130H180v130Zm0 0v-130 130Z" />
                                    </svg>
                                    <h6>
                                        call for <br />
                                        appointment
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="services-container">
        <div class="div-doctor py-4">
            <div class="py-5 pe-5">
                <h1>Always <b style="color: #fad461">Lough</b></h1>
                <h1>Whenever Its Possible</h1>
            </div>

            <hr>
            <img src="img/Image.png" id="img-2" alt="" class="ms-4 m-auto img-fluid pe-auto" />
        </div>
        <div id="text-service">
            <div class="py-5">
                <h4 class="div-text py-5 mt-5 text-secondary">
                    We also offer treatments that improve the appearance of your smile
                    <br />
                    giving you the confidence boost you deserve. The process or our <br />
                    treatment below. <br />
                </h4>
                <hr class="border-secondary" id="hr-2">
            </div>
            <div>
                <div class="py-2">
                    <h3 class="div-text py-3 mt-2">WHAT WE PROVIDED</h3>
                </div>
            </div>

            <div class="container">
                <div class="row ps-5" id="services-row">
                    <div class="col-md-6 fw-semibold">
                        <p class="ms-5 ps-5"><img src="img/Shield.png" alt="">Check ups</p>
                        <p class="ms-5 ps-5"><img src="img/Shield.png" alt="">Cosmetic dentistry</p>
                        <p class="ms-5 ps-5"><img src="img/Shield.png" alt="">Orthodontics</p>
                        <p class="ms-5 ps-5"><img src="img/Shield.png" alt="">Preventative checks</p>
                    </div>
                    <div class="col-md-6 fw-semibold">
                        <p class="ms-5 ps-5"><img src="img/Shield.png" alt="">Emergencies</p>
                        <p class="ms-5 ps-5"><img src="img/Shield.png" alt="">Dental implants</p>
                        <p class="ms-5 ps-5"><img src="img/Shield.png" alt="">Children’s dentistry</p>
                        <p class="ms-5 ps-5"><img src="img/Shield.png" alt="">Telephone consultations</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>